[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-fiatratio
Exec=harbour-fiatratio
Name=fiat ratio
Name[sv]=fiat ratio
Comment=Money, budget months and net worth
Comment[sv]=Pengar, budgetmånader och nettoförmögenhet

[X-Sailjail]
Permissions=Documents;Downloads
OrganizationName=se.munkstolen
ApplicationName=harbour-fiatratio
